.custom-nav {
    background: #a37ee9; 
    background: -webkit-linear-gradient(to right, #17a287, #92ddea); 
    background: linear-gradient(
        to right,
        #5691c8,
        #457fca
    );
}

.navLink {
    color: whitesmoke;
}